In [27]:
#Saturday 12-02-2022

In [28]:
l1=[6,7,4,8,9,2,3,1,21,45]

In [29]:
print ("The length of l1 is:", len(l1))

The length of l1 is: 10

In [30]:
sum1=0

In [31]:
for i in l1:
    sum1=sum1+i
    print(sum1)

6
13
17
25
34
36
39
40
61
106

In [33]:
l1=[6,7,4,8,9,2,3,1,21,45]
print("The length of l1 is:",len(l1))
sum1=0
for i in l1:
    sum1=sum1+i
    print(sum1)

The length of l1 is: 10
6
13
17
25
34
36
39
40
61
106

In [34]:
#For loop with break

In [41]:
lst=[4,5,7,8,1,3,9]
s1=0
for i in lst:
    s1=s1+i
    if i==1:
        break
    print(s1)

4
9
16
24

In [42]:
lst=[1,2,4,3,5,9]
e, o =0, 0
for i in l1:
    if (i%2==0):
        e=e+i
    else:
        o=o+i
    print(e)
    print(o)

6
0
6
7
10
7
18
7
18
16
20
16
20
19
20
20
20
41
20
86

In [43]:
#For else with else

In [44]:
l1=[3,5,6,7,8,9,1,4,9]
s2=0
for i in l1:
    if i==1:
        break
        s2=s2+i
    else:
        print(s2)

0
0
0
0
0
0

In [4]:
#Find the sum of even and odd no. if even sum is greater than 20or odd sum is greater than 40 put a break
#If not print the sum

In [3]:
l2=[3,5,6,7,8,9,1,2,12,20,14,15,45,10,11]
e, o=0, 0
for i in l2:
    if i%2==0:
        e=e+i
    else:
        o=o+i
        
        if (e>20 or o>40):
            break
        else:
            print(e)
            print(o)

0
3
0
8
6
15
14
24
14
25

In [5]:
num=10
while(num<6):
    print(num)
    num=num-1
else:
    print("Finished")

Finished

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
i=1
j=5
while i<4:
    while j<8:
        print(i,j)
        i=i+1
        j=j+1

1 5
2 6
3 7

In [8]:
l1=list(range(100,0,-2))                    #2 is for increment
print(l1)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [10]:
#For val in string
val="i"
if val=="i":
           print(val)
else:
    print("The End")

i

In [1]:
num=10
while(num>6):
    print(num)
    num=num-1
else:
    print("Finished")

10
9
8
7
Finished

In [2]:
vali="j"
while vali=="i":
    continue
    print(vali)
else:
    print("End")

End

In [2]:
#To write whole string
S="Hello World"
S[:]

'Hello World'

In [4]:
S[2:0]

''

In [5]:
S[:6]

'Hello '

In [6]:
S[:-1]

'Hello Worl'

In [7]:
S[::-1]                  #To Reverse the string

'dlroW olleH'

In [8]:
S[::-2]

'drWolH'

In [3]:
S="Hello Miss Allu"
S.split()

['Hello', 'Miss', 'Allu']

In [12]:
S.split("Allu")

['Hello Miss ', '']

In [13]:
S.count("A")

1

In [14]:
#Index
S.find('M')

6

In [15]:
#True or False
S.isalpha()

False

In [16]:
S.partition('l')

('He', 'l', 'lo Miss Allu')

In [4]:
S.isupper()

False

In [18]:
#List- Mutable


lst=[1,3,4,5,6]
for i in lst:
    print(i**2)

1
9
16
25
36

In [19]:
lst=[1,3,4,5,6]
lst1=[]
for i in lst:
    lst1.append(i**2)
    print(lst1)

[1]
[1, 9]
[1, 9, 16]
[1, 9, 16, 25]
[1, 9, 16, 25, 36]

In [22]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst1=[i for i in lst if i%2==0]
print(lst1)

[2, 4, 6, 8, 10]

In [23]:
lst=["Chikki","Banku","Kitti"]
lst2=[i[::-1] for i in lst]
print(lst2)

['ikkihC', 'uknaB', 'ittiK']

In [24]:
#Tuples-Immutable


t=(1,2,3,4,5,6,7,8,"ayp")
t[5]

6

In [25]:
t[3:]

(4, 5, 6, 7, 8, 'ayp')

In [26]:
t[:-1]

(1, 2, 3, 4, 5, 6, 7, 8)

In [27]:
#Convert list into tuple
t=(1,2,3,4,5,6,7,8,"ayp")
type(lst)
t1=tuple([lst])
type(t1)

tuple

In [28]:
#Convert tuple into list
t=(1,2,3,4,5,6,7,8,"ayp")
type(lst)
lst=list([t])
type(lst)

list

In [29]:
l=list(range(0,10))
l[:-1]  #-1 print last element

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
l=list(range(0,10))
l[-1]  #-1 print last element

9

In [31]:
t=("Aman","Almas","Ridan","Amayra")
[i[::-1] for i in t]

['namA', 'samlA', 'nadiR', 'aryamA']

In [32]:
t=(2,6,3,4,7,6,8)
print(t.count(6))

2

In [33]:
print(t.index(3))
print(len(t))

2
7

In [34]:
t[-1]

8

In [35]:
#Dictionary.........No indexing
d={1:"Sajal",2:"Ahad",3:"Noor"}
type(d)

dict

In [37]:
d.keys()

dict_keys([1, 2, 3])

In [38]:
#Prints second index's element from 2nd key
d[2][2]

'a'

In [39]:
d[1][1]

'a'

In [40]:
#Making Directory
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [42]:
#Set............No indexing
s={1,2,3,4}
type(s)

set

In [43]:
#Functions
def sum_even(lst):
    sum1=0
    sum2=0
    for i in lst:
        if i%2==0:
            sum1=sum1+i
        else:
            sum2=sum2+i
            print(sum1)
            print(sum2)

In [44]:
def f1(l1,l2):
    l3=list(range(0,6))
    r=range(0,6)
    for i in r:
        l3[i]=l1[i]+l2[i]
        print(l3)

In [45]:
#Use a function
l1=[2,3,4,5,6,7]
l2=[6,7,8,9,3,4]
f1(l1,l2)

[8, 1, 2, 3, 4, 5]
[8, 10, 2, 3, 4, 5]
[8, 10, 12, 3, 4, 5]
[8, 10, 12, 14, 4, 5]
[8, 10, 12, 14, 9, 5]
[8, 10, 12, 14, 9, 11]

In [48]:
for i in [1,2,3,4]:
         print(i)

1
2
3
4

In [49]:
for i in 'Inayat':
    print(i)

I
n
a
y
a
t

In [50]:
for i in (1,2,3):
    print(i)

1
2
3

In [51]:
#To Reverse a string
s="Sanjivani"
s[::-1]

'inavijnaS'

In [7]:
for i in range(1,6):
   print("*"*i)
for i in range(5,0,-1):
   print("*"*i)

*
**
***
****
*****
*****
****
***
**
*